* {
  padding: 0;
}

body {
  display: block;
  margin: 0;
}

.ajustarlogos {
  width: 25px;
  height: 25px;
}

.ajustarimgcursos {
  width: 200px;
  height: auto;
}

.ajustarimgportfolio {
  width: 200px;
  height: auto;
}

@keyframes mostrarMensaje {
  0% {
    opacity: 100;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.bienvenida {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  animation: flash 0.3s 1.5s ease-in-out forwards;
  opacity: 0;
}

.mensaje-bienvenida {
  font-size: 48px;
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: mostrarMensaje 1.8s ease-out forwards;
  background-color: rgb(208, 208, 208);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: "Open Sans", sans-serif;
}

header.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  transition: padding 0.3s, box-shadow 0.3s;
  display: none;
}

header.fixed-top:hover {
  padding: 5px 0px;
  box-shadow: 0px 0px 15px rgba(127, 137, 161, 0.3);
  
}

.contenedor-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 178px; 
}

.contenedor-navbar h3 {
  margin: 0;
}

.navegacionprincipal{
  font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    
}

.navegacionprincipal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navegacionprincipal ul li {
  display: inline;
  margin-left: 20px;
}

.navegacionprincipal ul li a {
  text-decoration: none;
  color: #333333; 
}
.navegacionprincipal ul li a:hover{
  color: rgb(0, 184, 184);
}

.ajustarlogos {
  width: 15px;
  height: auto;
}

.navegacionprincipal ul li a.pagina-actual {
  color: rgb(0, 184, 184);
}


/* Estilos para la barra de navegación en dispositivos móviles */

header.fixed-top.activo {
  display: block; 
}

#close-menu {
  font-size: 25px;
  color: #333;
  display: flex;
}


/* Media Query para pantallas de hasta 768px de ancho (tamaño común de tablet) */

@media screen and (max-width: 768px) {
  header.fixed-top {
    padding: 10px 0px;
    bottom: 0px;
  }

  .contenedor-navbar {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }

  .navegacionprincipal {
    font-size: 25px;
  }

  .navegacionprincipal ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    margin: 20px;
  }

  .navegacionprincipal ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

/* Estilos para el botón de menú en dispositivos móviles */

@media screen and (min-width: 769px) {
  #menu-toggle {
    display: none; 
  }
}

@media screen and (max-width: 768px) {
  #menu-toggle {
    display: block;
  }
}

/* Estilos para el botón de menú en dispositivos móviles */

@media screen and (max-width: 768px) {
  #menu-toggle {
    display: block;
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header.fixed-top {
    display: none;
    overflow: hidden;
  height: 0px;
  transition: height 0.7s ease;
  }

  header.fixed-top.activo {
    display: block;
  } 
  .contenedor-navbar h3 {
    display: none;
  }
}

/* Estilos para la barra de navegación en pantallas de escritorio */

@media screen and (min-width: 769px) {
  #menu-toggle {
    display: none;
  }

  header.fixed-top {
    display: block;
  }
}

.menu-toggle-contenedor{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px -10px 30px rgb(0, 184, 184);
  justify-content: space-around;
  align-items: center;
  gap: 165px;
}

.main {
  margin: 40px 167px;
  padding: 90px 36px;
  display: flex;
  align-items: center;
  background-color: rgb(237, 237, 237);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor-texto {
  flex: 1;
  margin-right: 20px;
  padding: 26px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contenedor-imagen {
  flex: 1;
  padding: 26px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ajustarimgmain {
  max-width: 100%;
  height: auto;
}

.main h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

.main p {
  font-family: "Open Sans", sans-serif;
  font-size: small;
  padding: 8px 0px 0px 0px;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 0 20px;
    padding: 60px 20px;
    flex-direction: column;
  }
  .contenedor-texto,
  .contenedor-imagen {
    flex: 1 100%;
    margin: 20px 0;
    padding: 0;
  }
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.center,
.right {
  flex: 1;
}

.center {
  text-align: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ajustarlogos {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.right a:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.right a:nth-child(1):hover img {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

.right a:nth-child(2):hover img {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

.contenedor-portfolio {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 80px;
  padding: 0px 0px 0px 0px;
  margin: 130px 0px 100px 0px;
}

.card {
  width: 300px;
  padding: 16px;
  margin: 16px;
  display: inline-block;
  text-align: center;
}

.ajustarimgportfolio {
  max-width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.portfolioajustes h1 {
  grid-column: 1/-1;
}

.portfolio {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

.servicios {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 167px;
  padding: 90px 36px;
  background-color: #f0f0f0;
}

.contenedor {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contenedor h3 {
  margin-bottom: 30px;
}

.contenedor p {
  margin-bottom: 45px;
}

@media only screen and (max-width: 600px) {
  .servicios {
    padding: 50px 20px;
    height: 100vh;
    margin: 0;
  }
  .contenedor h3 {
    margin-bottom: 20px;
  }
  .contenedor p {
    margin-bottom: 30px;
  }
}
.contenedor-cursos {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 80px;
  padding: 0px 0px 0px 0px;
  margin: 130px 0px 100px 0px;
}

.card {
  width: 300px;
  padding: 16px;
  margin: 16px;
  display: inline-block;
  text-align: center;
}

#contact {
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 90px 0;
  font-family: "Open Sans", sans-serif;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

#contact h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

#contact p {
  margin-bottom: 15px;
}

.contact-form,
.contact-image {
  width: 100%;
  margin-bottom: 20px;
}

.contact-form {
  width: calc(50% - 20px);
  margin-right: 20px;
}

#contact input[type=text],
#contact input[type=email],
#contact textarea {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#contact input[type=submit] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#contact input[type=submit]:hover {
  background-color: #0056b3;
}

.contact-image {
  width: 45%;
}

.contact-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .contact-form,
  .contact-image {
    width: 100%;
    margin-right: 0;
  }
  .contact-form {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
